<div class="container top-buffer">
  <div class="row">
    <div class="col">
      <input type="search" class="form-control" placeholder="Search..." (keyup)="searchServices($event)" [(ngModel)]="searchString">
    </div>
  </div>
  <div class="row top-buffer">
    <div class="col">
      <div *ngFor="let service of services">
        <div><p class="lead"><a [routerLink]="['/specifications', service.id, service.specifications[0].metadata.version]" routerLinkActive="active">{{ service.title }}</a></p></div>
        <div><p class="small"><markdown>{{ service.description != null && service.description.length > 100 ? (service.description | slice:0:100) + ' ...' : service.description }}</markdown></p></div>
      </div>
      <div class="row top-buffer alert alert-danger" *ngIf="services.length == 0">
        No specifications found
      </div>
    </div>
  </div>
</div>
