<div class="container top-buffer">
  <div class="row top-buffer">
    <div class="alert alert-danger" role="alert" *ngIf="error">
      {{ error }}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button class="btn btn-primary" routerLink="add-specifications"><span class="oi oi-plus"></span></button>
    </div>

    <div class="col">
      <span>Download specifications as: </span>
    <select type="string"
            [(ngModel)]="selectedFormat"
            id="download-file-format">
      <option *ngFor="let format of downloadFileFormatOptions" [ngValue]="format">{{format.toUpperCase()}}</option>
    </select>
    </div>

  </div>
  <div class="row top-buffer">
    <div class="col">
      <table class="table">
        <thead class="thead">
        <tr>
          <th scope="col"></th>
          <th scope="col">Title</th>
          <th scope="col">Version</th>
          <th scope="col">Options</th>
        </tr>
        </thead>
        <ng-container *ngFor="let service of services">
          <tbody>
          <tr class="clickable" data-toggle="collapse" [attr.data-target]="'#versions-' + service.id"
              (click)="switchExpanded(service)">
            <td>
              <span class="oi oi-chevron-right clickable"
                    *ngIf="service.specifications.length > 1 && !expanded.includes(service.id)"
                    data-toggle="collapse" [attr.data-target]="'#versions-' + service.id"></span>
              <span class="oi oi-chevron-bottom clickable"
                    *ngIf="service.specifications.length > 1 && expanded.includes(service.id)"
                    data-toggle="collapse" [attr.data-target]="'#versions-' + service.id"></span>
            </td>
            <td><a [routerLink]="['specifications/', service.id, service.specifications[0].metadata.version]" routerLinkActive="active">{{ service.title
              }}</a></td>
            <td>{{ service.specifications[0].metadata.version }}</td>
            <td>
              <button class="btn oi oi-loop-circular" *ngIf="service.remoteAddress != null"
                      (click)="synchronize(service)"></button>
              <button class="btn oi oi-data-transfer-download" title="Download" (click)="downloadService(service, selectedFormat)"></button>
              <button class="btn oi oi-trash" (click)="deleteService(service)"></button>
              <button class="btn oi oi-pencil" [routerLink]="['edit-specifications', service.id]"></button>
            </td>
          </tr>
          </tbody>
          <tbody [attr.id]="'versions-' + service.id" class="collapse" *ngIf="service.specifications.length > 1">
          <tr *ngFor="let specification of service.specifications">
            <td></td>
            <td><a [routerLink]="['specifications/', service.id, specification.metadata.version]" routerLinkActive="active">{{ service.title }}</a></td>
            <td>{{ specification.metadata.version }}</td>
            <td>
              <button class="btn oi oi-data-transfer-download" title="Download" (click)="downloadSpecification(selectedFormat, service, specification)"></button>
              <button class="btn oi oi-trash" (click)="deleteSpecification(service, specification)"></button>
            </td>
          </tr>
          </tbody>
        </ng-container>
      </table>
    </div>
  </div>
</div>
