<div class="container top-buffer">
  <div class="row top-buffer">
    <div class="alert alert-danger" role="alert" *ngIf="error">
      {{ error }}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button class="btn btn-primary" routerLink="add-specifications" ngbTooltip="Upload a new specification" placement="right"><span class="oi oi-plus"></span></button>
    </div>

    <div class="col">
      <span>Download specifications as: </span>
    <select type="string"
            [(ngModel)]="selectedFormat"
            id="download-file-format">
      <option *ngFor="let format of downloadFileFormatOptions" [ngValue]="format">{{format.toUpperCase()}}</option>
    </select>
    </div>

  </div>
  <div class="row top-buffer">
    <div class="col" #serviceTable>
      <table class="table">
        <thead class="thead">
        <tr>
          <th scope="col" id="chevron-column"></th>
          <th scope="col" id="title-column">Specification title</th>
          <th scope="col" id="version-column">Version</th>
          <th scope="col" id="actions-column">Actions</th>
        </tr>
        </thead>
        <ng-container *ngFor="let service of services">
          <tbody>
          <tr class="clickable" data-toggle="collapse" [attr.data-target]="'#versions-' + service.id"
              (click)="switchExpanded(service)">
            <td>
              <span class="oi oi-chevron-right clickable"
                    [@rotateChevron]="expanded.includes(service.id) ? 'pointDown' : 'pointRight'"
                    *ngIf="service.specifications.length > 1"
                    data-toggle="collapse" [attr.data-target]="'#versions-' + service.id"></span>
            </td>
            <td>
              <a [routerLink]="[
                                'specifications/',
                                service.id,
                                getFirstRelease(service).metadata.version
                                ]"
                 routerLinkActive="active">{{getFirstRelease(service).metadata.title}}</a>
            </td>
            <td>{{ getFirstRelease(service).metadata.version }}</td>
            <td>
              <button class="btn oi oi-layers" title="Compare versions in detail" [routerLink]="['diff', service.id]"></button>
              <button class="btn oi oi-data-transfer-upload" title="Upload a new version of this specification"
                      [routerLink]="['edit-specifications', service.id]"></button>
              <button class="btn oi oi-data-transfer-download" title="Download" (click)="downloadService(service, selectedFormat)"></button>
              <span *ngIf="service.canEdit">
                <button class="btn oi oi-loop-circular" title="Check for updates" *ngIf="service.remoteAddress != null"
                      (click)="synchronize(service)"></button>
                <button class="btn oi oi-trash" title="Delete" (click)="deleteService(service)"></button>
              </span>
            </td>
          </tr>
          </tbody>
          <tbody [attr.id]="'versions-' + service.id" class="collapse" *ngIf="service.specifications.length > 1">
          <tr *ngFor="let specification of service.specifications">
            <td></td>
            <td><a [routerLink]="['specifications/', service.id, specification.metadata.version]" routerLinkActive="active">{{ specification.metadata.title }}</a></td>
            <td>{{ specification.metadata.version }}</td>
            <td>
              <button class="btn oi oi-data-transfer-download" title="Download" (click)="downloadSpecification(selectedFormat, service, specification)"></button>
              <span *ngIf="service.canEdit">
                <button class="btn oi oi-trash" (click)="deleteSpecification(service, specification)"></button>
              </span>
            </td>
          </tr>
          </tbody>
        </ng-container>
      </table>
      <div class="centered">
        <button class="btn btn-light" [hidden]="!morePagesExist" (click)="loadNextPage()">Show more</button>
      </div>
    </div>
  </div>
</div>
