<div class="container top-buffer">
  <div class="row">
    <div class="col">
      <button class="btn btn-primary" routerLink="add-specifications"><span class="oi oi-plus"></span></button>
    </div>
  </div>
  <div class="row top-buffer">
    <div class="col">
      <table class="table">
        <thead class="thead">
        <tr>
          <th scope="col"></th>
          <th scope="col">Title</th>
          <th scope="col">Version</th>
          <th scope="col">Options</th>
        </tr>
        </thead>
        <ng-container *ngFor="let specification of specifications">
          <tbody>
          <tr class="clickable" data-toggle="collapse" [attr.data-target]="'#versions-' + specification.id"
              (click)="switchExpanded(specification)">
            <td>
              <span class="oi oi-chevron-right clickable"
                    *ngIf="specification.versions.length > 1 && !expanded.includes(specification.id)"
                    data-toggle="collapse" [attr.data-target]="'#versions-' + specification.id"></span>
              <span class="oi oi-chevron-bottom clickable"
                    *ngIf="specification.versions.length > 1 && expanded.includes(specification.id)"
                    data-toggle="collapse" [attr.data-target]="'#versions-' + specification.id"></span>
            </td>
            <td><a [routerLink]="['specifications/', specification.id, specification.versions[0].version]" routerLinkActive="active">{{ specification.title
              }}</a></td>
            <td>{{ specification.versions[0].version }}</td>
            <td>
              <button class="btn oi oi-loop-circular" *ngIf="specification.remoteAddress != null"
                      (click)="synchronize(specification)"></button>
              <button class="btn oi oi-pencil" [routerLink]="['edit-specifications', specification.id]"></button>
              <button class="btn oi oi-data-transfer-download" title="Download as JSON" (click)="downloadSpecification(specification, 'json')"></button>
              <button class="btn oi oi-data-transfer-download" title="Download as YAML" (click)="downloadSpecification(specification, 'yml')"></button>
              <button class="btn oi oi-trash" (click)="deleteSpecification(specification)"></button>
            </td>
          </tr>
          </tbody>
          <tbody [attr.id]="'versions-' + specification.id" class="collapse" *ngIf="specification.versions.length > 1">
          <tr *ngFor="let version of specification.versions">
            <td></td>
            <td><a [routerLink]="['specifications/', specification.id, version.version]" routerLinkActive="active">{{ specification.title }}</a></td>
            <td>{{ version.version }}</td>
            <td>
              <button class="btn oi oi-data-transfer-download" title="Download as JSON" (click)="downloadJSONVersion(specification, version)"></button>
              <button class="btn oi oi-data-transfer-download" title="Download as YAML" (click)="downloadYAMLVersion(specification, version)"></button>
              <button class="btn oi oi-trash" (click)="deleteVersion(specification, version)"></button>
            </td>
          </tr>
          </tbody>
        </ng-container>
      </table>
    </div>
  </div>
</div>
