button {
  margin-right: 5px;
}

.centered {
  text-align: center;
}

#chevron-column {
  width: 5%;
}

#title-column {
  width: 60%;
}

#version-column {
  width: 15%;
}

#actions-column {
  width: 20%;
}

