# IntelliJ IDEA
.idea/
out/

# NPM
node_modules/
.npm/
node/

# Temporary folders
tmp/
temp/

# Gradle
.gradle
build/

# Angular
static/
dist/
coverage/
backend/src/main/resources/public

# Cypress
videos/
