<div class="container top-buffer">
  <div class="row top-buffer">
    <div class="alert alert-danger" role="alert" *ngIf="error">
      {{ error }}
    </div>
  </div>

  <h4>View changes between specification versions</h4>

  <div class="row top-buffer">
    <div class="col">
      <table class="table">
        <thead class="thead">
        <tr>
          <th scope="col">Specification title</th>
          <th scope="col">Version</th>
          <th scope="col">+</th>
          <th scope="col">-</th>
        </tr>
        </thead>
        <ng-container *ngFor="let specification of (searchComplete ? service.specifications : [])">
          <tbody *ngIf="service.specifications.length > 1">
          <tr>
            <td><a [routerLink]="['specifications/', service.id, specification.metadata.version]" routerLinkActive="active">{{ specification.metadata.title }}</a></td>
            <td>{{ specification.metadata.version }}</td>
            <td>
              <input type="radio" name="radiogroup-before" [value]="specification.metadata.version" (change)="radioButtonChange($event)" [(ngModel)]="radioSelectedBeforeVersion"/>
            </td>
            <td>
              <input type="radio" name="radiogroup-after" [value]="specification.metadata.version" (change)="radioButtonChange($event)" [(ngModel)]="radioSelectedAfterVersion"/>
            </td>
          </tr>
          </tbody>
        </ng-container>
      </table>
    </div>
    <div class="col">
      <div [hidden]="!this.validRangeSelected || this.noEndpointChanges">
        <h5>Endpoint changes</h5>
        <ngb-tabset #tabs>
          <ngb-tab id="new" title="Added" [disabled]="this.diff && this.diff.newEndpoints.length == 0">
            <ng-template ngbTabContent>
              <table class="table">
                <thead class="thead">
                <tr>
                  <th scope="col">Path URL</th>
                  <th scope="col">HTTP Method</th>
                  <th scope="col">Summary</th>
                </tr>
                </thead>
                <ng-container *ngFor="let endpoint of (this.diff ? this.diff.newEndpoints : [])">
                  <tbody>
                  <tr>
                    <td>{{endpoint.pathUrl}}</td>
                    <td>{{endpoint.method}}</td>
                    <td>{{endpoint.summary}}</td>
                  </tr>
                  </tbody>
                </ng-container>
              </table>
            </ng-template>
          </ngb-tab>
          <ngb-tab id="missing" title="Removed" [disabled]="this.diff && this.diff.missingEndpoints.length == 0">
            <ng-template ngbTabContent>
              <table class="table">
                <thead class="thead">
                <tr>
                  <th scope="col">Path URL</th>
                  <th scope="col">HTTP Method</th>
                  <th scope="col">Summary</th>
                </tr>
                </thead>
                <ng-container *ngFor="let endpoint of (this.diff ? this.diff.missingEndpoints : [])">
                  <tbody>
                  <tr>
                    <td>{{endpoint.pathUrl}}</td>
                    <td>{{endpoint.method}}</td>
                    <td>{{endpoint.summary}}</td>
                  </tr>
                  </tbody>
                </ng-container>
              </table>
            </ng-template>
          </ngb-tab>
          <ngb-tab id="deprecated" title="Deprecated" [disabled]="this.diff && this.diff.deprecatedEndpoints.length == 0">
            <ng-template ngbTabContent>
              <table class="table">
                <thead class="thead">
                <tr>
                  <th scope="col">Path URL</th>
                  <th scope="col">HTTP Method</th>
                  <th scope="col">Summary</th>
                </tr>
                </thead>
                <ng-container *ngFor="let endpoint of (this.diff ? this.diff.deprecatedEndpoints: [])">
                  <tbody>
                  <tr>
                    <td>{{endpoint.pathUrl}}</td>
                    <td>{{endpoint.method}}</td>
                    <td>{{endpoint.summary}}</td>
                  </tr>
                  </tbody>
                </ng-container>
              </table>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
      <div *ngIf="!this.validRangeSelected">
        <p>
          Choose two different versions from the table on the left using the radio buttons
        </p>
      </div>
      <div *ngIf="this.validRangeSelected && this.noEndpointChanges">
        <p>
          No endpoint changes to show for the selected range
        </p>
      </div>
    </div>
  </div>
</div>
