<div class="container top-buffer">
  <h4>Upload a specification...</h4>
  <br>

  <ng-template #local let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Local file upload</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
       <div class="alert alert-danger" role="alert" *ngIf="error">
         {{ error }}
       </div>

       <label for="files">Upload a specification</label>
       <br>
       <input multiple type="file" id="files" accept=".yml,.json,.yaml,.graphql" ngModel
         (change)="onLocalFileChange($event)">

       <div *ngIf="showAdditionalMetadataFields" [@displayFields]>
         <hr>
         <p>
           For a non-OpenAPI specification, ApiCenter needs additional metadata:
         </p>

         <label for="title-field">Title</label>
         <input type="text"
                id="title-field"
                [(ngModel)]="additionalFields.title"/>

         <hr>
         <label for="version-field">Version</label>
         <input type="text"
                id="version-field"
                placeholder="Semver formatted, eg. 2.0.5-RELEASE"
                [(ngModel)]="additionalFields.version"/>

         <hr>
         <label for="description-field">
           Description of service (optional)
         </label>
         <textarea id="description-field"
                   [(ngModel)]="additionalFields.description">
         </textarea>

         <hr>
         <label for="endpoint-url-field">Test API endpoint (optional)</label>
         <input type="text"
                id="endpoint-url-field"
                placeholder="ie. where sample requests from ApiCenter users can be sent"
                [(ngModel)]="additionalFields.endpointUrl"/>

       </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="submitLocalSpecification()">Upload</button>
    </div>
  </ng-template>

  <ng-template #remote let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Remote file upload</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="alert alert-danger" role="alert" *ngIf="error">
        {{ error }}
      </div>
      <p>
        Enter the name of a URL, where the specification file is hosted.
        ApiCenter will download the specification and add it to the database.
      </p>
      <hr>
      <input type="text" title="url" placeholder="Insert URL here" [(ngModel)]="remoteFileUrl"/>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="submitRemoteSpecification()">Upload</button>
    </div>
  </ng-template>

  <button class="btn btn-lg btn-outline-primary" (click)="open(local)">From my computer</button>

  <br>
  <br>

  <button class="btn btn-lg btn-outline-primary" (click)="open(remote)">From a URL</button>

  <br>
  <br>
  <button type="button" class="btn btn-secondary" routerLink="/">Cancel</button>

</div>

