<div class="container top-buffer">
  <div class="row top-buffer">
    <div class="alert alert-danger" role="alert" *ngIf="error">
      {{ error }}
    </div>
  </div>

  <h4>Upload a specification...</h4>
  <br>

  <ng-template #local let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Local file upload</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <div class="form-group">
        <div class="input-group">

          <div class="row top-buffer">
            <div class="col">
              <p>
                <input type="file" placeholder="Upload Swagger Specification" accept=".yml,.json,.yaml,.graphql" ngModel
                       (change)="onLocalFileChange($event)" [attr.disabled]="remoteUploadSelected ? '' : null">
              </p>
            </div>
            <div class="col" *ngIf="isGraphQLFile">
              Additionally required fields for GraphQL upload:
              <div *ngFor="let fieldName of objectKeys(additionalFields)">
                <div class="row">
                  <input type="text" [placeholder]="fieldName.charAt(0).toUpperCase() + fieldName.slice(1)" [(ngModel)]="additionalFields[fieldName]"/>
                </div>
              </div>
              <p>API endpoint:</p>
              <div class="row">
                <input type="text" placeholder="URL" [(ngModel)]="endpointUrl"/>
              </div>
            </div>
          </div>

        </div>
      </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="submitSpecification() && modal.close('Local upload click')">Upload</button>
  </div>
</ng-template>

  <ng-template #remote let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Remote file upload</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <div class="input-group">

          <div class="row top-buffer">
            <div class="col">
              <p>
                <input type="text" title="url" placeholder="Insert URL here" [(ngModel)]="remoteFileUrl"/>
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="submitSpecification() && modal.close('Remote upload click')">Upload</button>
    </div>
  </ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(local)">From my computer</button>

<br>
<br>

<button class="btn btn-lg btn-outline-primary" (click)="open(remote)">From a URL</button>

<pre>{{closeResult}}</pre>

  <button type="button" class="btn btn-secondary" routerLink="/">Cancel</button>

</div>

