<div class="container top-buffer">
  <div class="row top-buffer">
    <div class="alert alert-danger" role="alert" *ngIf="error">
      {{ error }}
    </div>
  </div>
  <div class="row top-buffer">
    <div class="col">
      <h4>Edit permissions</h4>

      <label for="username">User:</label>
      <br>
      <input type="text" id="username" [(ngModel)]="targetUser" (ngModelChange)="selectorOnChange()"/>

      <br>
      <br>

      <label for="role">New role:</label>
      <br>
      <select id="role" [(ngModel)]="role">
        <option value="VIEWER">Viewer</option>
        <option value="VIEWER_X">Viewer (including pre-release versions)</option>
        <option value="EDITOR">Editor</option>
      </select>
    </div>
  </div>
  <div class="row top-buffer">
    <div class="col">
      <button type="button" class="btn btn-primary" (click)="changePermissionsForService()">Update</button>
      <button type="button" class="btn btn-secondary" routerLink="/">Cancel</button>
    </div>
  </div>
</div>
