<ng-container *ngIf="application$ | async as application">
  <div class="application-details-title-bar">
    <h2>{{ application.name }}</h2>

    <div class="application-menu">
      <button
        mat-flat-button
        color="primary"
        (click)="onUpdateApplication(application)"
      >
        Edit
      </button>
      <button
        mat-flat-button
        color="warn"
        (click)="onDeleteApplication(application)"
      >
        Delete
      </button>
    </div>
  </div>

  <mat-card>
    <table>
      <tr>
        <td><b>Description</b></td>
        <td>{{ application.description }}</td>
      </tr>
      <tr>
        <td><b>Contact</b></td>
        <td>{{ application.contact }}</td>
      </tr>
    </table>
  </mat-card>
</ng-container>
